opencv-python~=4.5.5.62
numpy~=1.21.5
pip~=21.1.2
zipp~=3.6.0
wheel~=0.36.2
rsa~=4.8
pyasn1~=0.4.8
six~=1.16.0
gast~=0.4.0
h5py~=3.6.0
MarkupSafe~=2.0.1
Werkzeug~=2.0.2
Jinja2~=3.0.3
click~=8.0.3
itsdangerous~=2.0.1
keras~=2.7.0
tensorflow-cpu~=2.7.0
wrapt~=1.13.3
requests~=2.27.0
setuptools~=57.0.0
cachetools~=4.2.4
certifi~=2021.10.8
urllib3~=1.26.7
Markdown~=3.3.6
oauthlib~=3.1.1
idna~=3.3
greenlet~=1.1.2
tensorboard~=2.7.0
flatbuffers~=2.0
astunparse~=1.6.3
termcolor~=1.1.0
Flask~=2.0.2
